{% extends 'myapp/base.html' %}
{% block title %}Password Reset{% endblock %}

{% load crispy_forms_tags %}
{% block body %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 content-default">
            <h2 class="text-center">REQUEST PASSWORD RESET</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
{% endblock %}