<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/png" href="favicon.png">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link href="{% static 'open-iconic-master/font/css/open-iconic.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark" style="z-index: 1;">
              <!-- Brand -->
              <a class="navbar-brand" href="{% url 'index' %}" style="font-family: 'Pacifico', cursive;">Chitra-Mela</a>
    
              <!-- Toggler/collapsibe Button -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <!-- Navbar links -->
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}"><span class="oi" data-glyph="home" title="home" aria-hidden="true"></span> HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}"><span class="oi" data-glyph="double-quote-serif-left" title="double-quote-serif-left" aria-hidden="true"></span> ABOUT</a>
                  </li>
                </ul>
                <ul class="nav navbar-nav" id="navbar-right">  
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'post-create' %}"><span class="oi" data-glyph="image" title="image" aria-hidden="true"></span> NEW POST</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile' %}"><span class="oi" data-glyph="person" title="person" aria-hidden="true"></span> PROFILE</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}"><span class="oi" data-glyph="account-logout" title="account-logout" aria-hidden="true"></span> LOGOUT</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'register' %}"><span class="oi" data-glyph="person" title="person" aria-hidden="true"></span> SIGN UP</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}"><span class="oi" data-glyph="account-login" title="account-login" aria-hidden="true"></span> LOGIN</a>
                    </li>
                  {% endif %}
                </ul>
              </div> 
            </nav>
        </div>
        <div class="container">
          {% block body %}
          {% endblock %}
        </div>

        <footer class="container-fluid">
          <div class="container border-top mt-3 pt-2 mb-2 text-primary">
            Copyright &copy; - 2019
            All rights are reserved for Chitra-Mela<br>
            Developed by Sarvesh Kumar
          </div>
        </footer>
    </body>
</html>