{% extends 'myapp/base.html' %}
{% block title %}Home Page{% endblock %}

{% block body %}
    <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    <div class="row">
        <div class="col-sm-8">
            {% for post in posts %}
                <div class="post border mt-3 p-2">
                    <div class="row">
                        <div class="col-sm-2 pl-4">
                            <img src="{{ post.author.profile.image.url }}" alt="author" width="80px" height="80px" style="border-radius:50%;"/>
                        </div>
                        <div class="col-sm-10">
                            <h4><a class="" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
                            {% if post.author.first_name and  post.author.last_name%}
                                <div class="text-muted"><a href="{% url 'user-posts' post.author.username %}">{{ post.author.first_name }} {{ post.author.last_name }}</a> - {{ post.date_posted }}</div>
                            {% else %}
                                <div class="text-muted"><a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a> - {{ post.date_posted }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <p>{{ post.content }}</p>
                    {% if post.post_image %}
                        <img src="{{ post.post_image.url }}" alt="post_image" width="100%"/>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-4 border mt-3 pt-2" style="max-height:300px;">
            <h4 class="text-info">Note:</h4>
            <hr class="mt-2">
            <p class="text-muted">This website is under maintainace. So keep patience and let the bugs come.</p>
        </div>
    </div> 
    
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock %}